[user]
name = FireIsGood
email = fireisadequate@gmail.com
signingkey = 0ACFEAD4981C92DF

[url "git@github.com:"]
insteadOf = "https://github.com/"

[commit]
template = ~/.config/git/.git-commit-message
gpgsign = true

[pull]
rebase = true

[core]
editor = "nvim"

[init]
defaultBranch = main

[interactive]
singleKey = true

[alias]
tree = log --graph --all --oneline --format=format:'%x09%C(auto)%h%C(auto)%d %s'
patch = add --patch
head = tree -10
undo = reset HEAD~1 --mixed

[credential "https://github.com"]
helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
helper = !/usr/bin/gh auth git-credential
